[buildout]
parts = 
    buildmaster
    svnpoller
    django-trunk
    
[buildmaster]
recipe = collective.buildbot:master
port = 8080
wport = 8082
project-name = Django
project-url = http://code.djangoproject.com/
url = http://localhost:8080/
allow-force = true
public-html = ${buildout:directory}/css
slaves =
    slave1 password1
    
[svnpoller]
recipe = collective.buildbot:poller
repositories = 
    ${django-trunk:svnroot}
    
[django-trunk]
recipe = collective.buildbot:project
slave-names = slave1
svnroot = http://code.djangoproject.com/svn
repositories = ${django-trunk:svnroot}/django/trunk
email-notification-sender = buildbot@djangoproject.com
email-notification-recipient = jacob@jacobian.org
build-sequence =
test-sequence = 
    python tests/runtests.py --noinput --verbosity=1